Deploy/ArmTemplates/logicapp.template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "AzDevOpsOrga": {
      "defaultValue": "myorga",
      "type": "String"
    },
    "AzDevOpsCreationProject": {
      "defaultValue": "AzDOProjectCreation",
      "type": "String"
    },
    "AzDevOpsCreationProjectTeam": {
      "defaultValue": "[concat(parameters('AzDevOpsCreationProject'), ' Team')]",
      "type": "String"
    },
    "StorageAccounts_name": {
      "type": "String"
    },
    "ResourcePrefix": {
      "defaultValue": "azdo",
      "type": "String"
    }
  },
  "variables": {
    "projectCreationLogicAppName": "[concat(parameters('ResourcePrefix'), 'ProjectCreation', 'WF')]",
    "repoCreationLogicAppName": "[concat(parameters('ResourcePrefix'), 'RepositoryCreation', 'WF')]",
    "azureDevOpsName": "[concat(parameters('AzDevOpsCreationProject'), 'DevOpsConnection')]",
    "storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccounts_name'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "azurequeues",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Queues",
        "statuses": [
          {
            "status": "Connected"
          }
        ],
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location , '/managedApis/azurequeues')]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "parameterValues": {
          "storageaccount": "[parameters('StorageAccounts_name')]",
          "sharedkey": "[listKeys(variables('storageAccountId'), '2019-04-01').keys[0].value]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureDevOpsName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('azureDevOpsName')]",
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location , '/managedApis/visualstudioteamservices')]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('projectCreationLogicAppName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'azurequeues')]",
        "[resourceId('Microsoft.Web/connections', variables('azureDevOpsName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "creationProject": {
              "type": "String"
            },
            "organization": {
              "type": "String"
            },
            "projectTeam": {
              "type": "String"
            }
          },
          "triggers": {
            "When_a_work_item_is_updated": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "splitOn": "@triggerBody()?['value']",
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/workitemupdated_trigger/@{encodeURIComponent(parameters('creationProject'))}/_apis/wit/wiql",
                "queries": {
                  "account": "@parameters('organization')",
                  "team": "@parameters('projectTeam')",
                  "wiql__System_State": "Approved",
                  "wiql__System_WorkItemType": "Project"
                }
              }
            }
          },
          "actions": {
            "Put_a_message_on_a_queue": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "{\n\"createType\": \"Project\",\n\"workItemId\": @{triggerBody()?['fields']?['System_Id']},\n\"projectName\": \"@{triggerBody()?['fields']?['System_Title']}\",\n\"projectDescription\": \"@{triggerBody()?['fields']?['System_Description']}\",\n\"dataOwner1\": \"@{triggerBody()?['fields']?['Custom_DataOwner']}\", \n\"dataOwner2\": \"@{triggerBody()?['fields']?['Custom_DataOwner2']}\",\n\"requestor\": \"@{triggerBody()?['fields']?['Custom_Requestor']}\",\n\"costCenter\": \"@{triggerBody()?['fields']?['Custom_CostCenter']}\",\n\"costCenterManager\": \"@{triggerBody()?['fields']?['Custom_CostCenterManager']}\"\n}",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('azprojectsetup')}/messages"
              }
            },
            "Update_a_work_item": {
              "runAfter": {
                "Put_a_message_on_a_queue": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "userEnteredFields": {
                    "State": "Pending"
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                  }
                },
                "method": "patch",
                "path": "/_apis/wit/workitems/@{encodeURIComponent(triggerBody()?['fields']?['System_Id'])}",
                "queries": {
                  "account": "@parameters('organization')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azurequeues')]",
                "connectionName": "azurequeues",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azurequeues')]"
              },
              "visualstudioteamservices": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureDevOpsName'))]",
                "connectionName": "visualstudioteamservices",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'visualstudioteamservices')]"
              }
            }
          },
          "creationProject": {
            "value": "[parameters('AzDevOpsCreationProject')]"
          },
          "organization": {
            "value": "[parameters('AzDevOpsOrga')]"
          },
          "projectTeam": {
            "value": "[parameters('AzDevOpsCreationProjectTeam')]"
          }
        }
      }
    },



    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('repoCreationLogicAppName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'azurequeues')]",
        "[resourceId('Microsoft.Web/connections', variables('azureDevOpsName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "creationProject": {
              "type": "String"
            },
            "organization": {
              "type": "String"
            },
            "projectTeam": {
              "type": "String"
            }
          },
          "triggers": {
            "When_a_work_item_is_updated": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "splitOn": "@triggerBody()?['value']",
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/workitemupdated_trigger/@{encodeURIComponent(parameters('creationProject'))}/_apis/wit/wiql",
                "queries": {
                  "account": "@parameters('organization')",
                  "team": "@parameters('projectTeam')",
                  "wiql__System_State": "Approved",
                  "wiql__System_WorkItemType": "Repository"
                }
              }
            }
          },
          "actions": {
            "Get_work_item_details": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/_apis/wit/workitems/@{encodeURIComponent(triggerBody()?['fields']?['System_Parent'])}",
                "queries": {
                  "account": "@parameters('organization')",
                  "project": "@parameters('creationProject')",
                  "typeName": "Project"
                }
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Put_a_message_on_a_queue": {
              "runAfter": {
                "Get_work_item_details": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "{\n\"createType\": \"Repository\",\n\"workItemId\": @{triggerBody()?['fields']?['System_Id']},\n\"azp_Id\": @{body('Get_work_item_details')?['fields']?['Custom_AZP_ID']},\n\"projectName\": \"@{body('Get_work_item_details')?['fields']?['System_Title']}\",\n\"repositoryName\": \"@{triggerBody()?['fields']?['System_Title']}\",\n\"dataOwner1\": \"@{triggerBody()?['fields']?['Custom_DataOwner']}\", \n\"dataOwner2\": \"@{triggerBody()?['fields']?['Custom_DataOwner2']}\",\n\"requestor\": \"@{triggerBody()?['fields']?['Custom_Requestor']}\",\n\"costCenter\": \"@{body('Get_work_item_details')?['fields']?['Custom_CostCenter']}\",\n\"costCenterManager\": \"@{body('Get_work_item_details')?['fields']?['Custom_CostCenterManager']}\"\n}",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('azprojectsetup')}/messages"
              }
            },
            "Update_a_work_item": {
              "runAfter": {
                "Put_a_message_on_a_queue": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "userEnteredFields": {
                    "State": "Pending"
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                  }
                },
                "method": "patch",
                "path": "/_apis/wit/workitems/@{encodeURIComponent(triggerBody()?['fields']?['System_Id'])}",
                "queries": {
                  "account": "@parameters('organization')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azurequeues')]",
                "connectionName": "azurequeues",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azurequeues')]"
              },
              "visualstudioteamservices": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureDevOpsName'))]",
                "connectionName": "visualstudioteamservices",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'visualstudioteamservices')]"
              }
            }
          },
          "creationProject": {
            "value": "[parameters('AzDevOpsCreationProject')]"
          },
          "organization": {
            "value": "[parameters('AzDevOpsOrga')]"
          },
          "projectTeam": {
            "value": "[parameters('AzDevOpsCreationProjectTeam')]"
          }
        }
      }
    }
  ]
}